# Backend API Endpoints (Dev)
EXPO_PUBLIC_API_URL=https://dev.api.kainook.com/auth
EXPO_PUBLIC_AUTH_API_URL=https://dev.api.kainook.com/auth
EXPO_PUBLIC_LISTING_API_URL=https://dev.api.kainook.com/listings
EXPO_PUBLIC_PAYMENT_API_URL=https://dev.api.kainook.com/payments

# Google Maps API Key
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBtITwwJXuiQsjNusLT4CKheR5g_cd4QPA

# Stripe (Optional for local dev)
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

# Free authtoken from https://dashboard.ngrok.com (for dev:tunnel)
NGROK_AUTHTOKEN=

